.bloginput {
  border-radius: 4px;
  font-size: 16px;
  min-height: 150px;
  padding: 8px;
  resize: vertical;
  width: 100%;
}

.button {
  background-color: #02ffec;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
}

.button:hover {
  background-color: #72edff;
}

.titleinput {
  border-radius: 4px;
  font-size: 16px;
  padding: 8px;
  width: 100%;
}
