.blogBody {
  display: grid;
  gap: 1px;
  grid-template-columns: 30vw 30vw 30vw;
  padding-left: 3vw;
}

.createNewBlog {
  background-color: #4caf50;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin: 16px;
  padding: 16px;
}

.submitButton {
  background-color: #4caf50;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin: 16px;
  padding: 16px;
}

.submitButton:hover {
  background-color: #45a049;
}

.textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #333;
  font-size: 16px;
  line-height: 1.5;
  margin: 8px 0;
  padding: 10px;
  resize: vertical;
}

.textarea:focus,
.textarea:hover {
  border: 1px solid #007bff;
}
