.createNewBlog {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  padding: 16px;
  margin: 16px;
  border-radius: 8px;
}
.submitButton {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  padding: 16px;
  margin: 16px;
  border-radius: 8px;
}

.submitButton:hover {
  background-color: #45a049;
}

.textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.textarea:hover,
.textarea:focus {
  border: 1px solid #007bff;
}

.textarea {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.blogBody {
  padding-left: 3vw;
  display: grid;
  grid-template-columns: 30vw 30vw 30vw;
  gap: 1vw;
}
