.inputArea input {
  border: 1px solid black;
  border-radius: 10px;
  height: 10vh;
  padding-left: 10px;
  position: relative;
  top: 150px;
  width: 100%;
}

.imageArea {
  border: 5px solid #72edff;
  border-radius: 100%;
  height: 150px;
  object-fit: contain;
  overflow: hidden;
  position: absolute;
  top: 5vh;
  width: 150px;
}

.imageArea:hover{
  filter: brightness(50%);
}

.mainsection {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 70vw;
}

.overview {
  display: flex;
  gap: 5vw;
}

.personalDetails {
  font-size: 22px;
  height: 50px;
  position: absolute;
  text-align: center;
  top: 30vh;
  width: 300px;
}

.sidebar {
  background-color: #ffffff;
  height: 100vh;
  width: 20vw;
}

.sidebar button {
  background-color: #02ffec;
  border-radius: 20px;
  height: 10vh;
  margin-bottom: 20px;
  position: relative;
  top: 150px;
  width: 100%;
}

.sidebar button:hover {
  background-color: #72edff;
}
